.settings-btn
    padding: 0.4rem
    margin-bottom: 0.4rem
    border-radius: 10px
    box-shadow: 1px 1px 1px 1px #102A43
    width: 100%
    background: #BCCCDC
    border: none
    text-transform: uppercase
    font-size: 18px
    font-weight: bold
    color: #102A43

    &:hover
        background: black
        color: #EBEBEB
    &:focus
        border-radius: 10px
        transition: all 0.5s ease
        font-size: 18px