.players-display
  width: 90%
  display: inherit
  font-size: 1.5rem
  justify-content: space-between
  margin-bottom: 0.5rem
  & .player
    padding: 0.2rem
    margin-bottom: 0.5rem
    box-sizing: border-box